<%- layout("boiler")-%>
<div style="margin-top: 10px;">
    <h2 style="text-align: center;">View Data</h2>
</div>
<%- include("nav")-%><table class="table table bordered">
    <tr>
        <th>STUDENT_ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>GENDER</th>
        <th>EMAIL</th>
        <th>DAPARTMENT</th>
        <th>MOBILE NO</th>
        <th>AGE</th>
        <th>ADDRESS</th>
        <th>YEAR</th>
    </tr>
    <% for( let index=0; index < rows.length; index++ ) { %>
    <tr>

        <td>
            <%=rows[index].student_id%>
        </td>
        <td>
            <%=rows[index].first_name%>
        </td>
        <td>
            <%=rows[index].last_name%>
        </td>
        <td>
            <%=rows[index].gender%>
        </td>
        <td>
            <%=rows[index].email%>
        </td>
        <td>
            <%=rows[index].department%>
        </td>
        <td>
            <%=rows[index].ph_no%>
        </td>
        <td>
            <%=rows[index].age%>
        </td>
        <td>
            <%=rows[index].address%>
        </td>
        <td>
            <%=rows[index].year%>
        </td>
    </tr>
</table>
<!-- <% console.log(rows[index].student_id) %> -->
<% } %>